body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

#cy {
  height: 600px;
  width: 600px;
  position: absolute;
  left: 350px;
  top: 250px;
}

#info {
  color: black;
  font-size: 1em;
  position: absolute;
  z-index: -1;
  left: 1em;
  top: 1em;
}

span.badge {
  color: white !important;
}

.form-group {
  color:white !important;
}